@tailwind base;
@tailwind components;
@tailwind utilities;

.cartDiv{
    display: none;
}
.cart:hover{
    .cartDiv{
        display: block;
    }
}

.slick-arrow{
    display: none!important;
}
